<!DOCTYPE html>
<html lang="en">
	<head>
        {% load static %}
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
		<meta charset="UTF-8">
		<title>轮播</title>
        <script src="{% static 'js/jquery-3.3.1.js' %}"></script>

		<link href="{% static 'css/jqloop.css' %}" rel='stylesheet'/>
    <style>
        #icon>li>a>span, #icon>li>a>img{
            display: block;
            width: 2rem;
            height: 2rem;
            float: left;
            margin: 0 0.3rem 0;
            font-size: 1.5rem;
            color: black;
            background: white;
            text-align: center;
            border-radius: 50%;
            line-height: 1.8rem;
        }
    </style>
	</head>
	<body>
        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">客户管理系统</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">发布会 <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'sign:guest'  %}">嘉宾<span class="sr-only">(current)</span></a></li>
      </ul>
{#        搜索框#}
{#      <form class="navbar-form navbar-left">#}
{#        <div class="form-group">#}
{#          <input type="text" class="form-control" placeholder="Search">#}
{#        </div>#}
{#        <button type="submit" class="btn btn-default">搜索</button>#}
{#      </form>#}
      <ul id='icon' class="nav navbar-nav navbar-right">
        <li><a href="#">{{ username}}
         {% if icon %}
              <img src="{% static icon %}">
         {% else %}
             <span class="glyphicon glyphicon-user"></span>
         {% endif %}
        欢迎您！
        </a></li>

        <li><a href="{% url 'sign:log_out' %}">退出</a></li>
{#        <li class="dropdown">#}
{#          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
{#          <ul class="dropdown-menu">#}
{#            <li><a href="#">Action</a></li>#}
{#            <li><a href="#">Another action</a></li>#}
{#            <li><a href="#">Something else here</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#">Separated link</a></li>#}
{#          </ul>#}
{#        </li>#}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
		<div id='div'>
			<img src="{% static 'image1/1.jpg' %}" />
			<ul id='ul'>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<button class='btn left_btn'><</button>
			<button class='btn right_btn'>></button>
		</div>
      <script src="{% static 'js/jqloop.js' %}" ></script>

	</body>
</html>
